@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)

{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoff" }))
    {

        @Html.AntiForgeryToken()

        <ul class="navbar-nav">

            <li class="nav-link text-white">
                <i class="fas fa-user"></i>
                @Html.ActionLink("Ciao " + User.Identity.GetUserName(), "Index", "Manage",
                null,
                new { @style = "color:#FFFFFF" })

                
            </li>

            <li class="nav-item">
             <a class="nav-link" href="javascript:document.getElementById('logoff').submit()"><i class="fas fa-sign-out-alt"></i>Esci</a>

                                  

            </li>


        </ul>




    }

}


else



{

<ul class="navbar-nav">



    <li class="nav-item">
        <a class="nav-link" href="~/Account/Login"><i class="fas fa-sign-in-alt"></i> Log in</a>
    </li>
   
    
    <li class="nav-item">
        <a class="nav-link" href="~/Account/Register"><i class="fas fa-user-plus"></i> Register</a>
    </li>

</ul>

}